* {
    margin:  0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    color: #000;
    
}

ol, ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 0;
}

.main {
    width: 100%; 
    
}

.contenedor {
    /*display: flex;/**/ 
    width: 100%; 
}

.navbar-dark{
    background-color: #333;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*overflow: hidden;
    background-color: #333;
    
    /*top: 0;*/
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding-left: 16px;/**/
}

.navbar .logo {
    float: left;
    height: 30px;
    overflow: hidden;
    padding: 7px;
    width: 30px;
}

.navbar img {
    border-radius: 50%;
    width: 100%;
}

.navbar-nav {
    padding: 7px;/**/
    display: flex;
    /*flex-direction: row; 
    align-items: center;
    height: 100%;*/
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
    /*padding-top: 16px;/**/
}

.navbar-nav .nav-item a {
        /*display: block;/**/
        position: relative;
        text-decoration: none;
        color: white;
        margin-bottom: 24px;
        font-family: "IBM Plex Mono", monospace;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
}

.navbar-nav li{
    margin-left: 48px;
}

.navbar-nav a:hover {
    /*background: #ddd;/**/
    color: #00F3BB;
    text-decoration: line-through;
}

.navbar-nav a:active {
    color: rgba(6, 10, 36, 0.56);
}

/* Btn */
.navbar .buttons {
    cursor: pointer;
    display: block;
    float: right;
    height: 20px;
    position: relative;
    width: 20px;
    margin: 0 auto;
    /*top: 10px;*/
    right: 16px;
}

.navbar .buttons input {
    /*display: none;/**/
    z-index: 2;
    position: absolute;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.navbar .buttons span {
    background: #000;
    display: block;
    height: 2px;
    position: absolute;
    transition: 0.5s all;
    width: 20px;
}

.navbar .buttons span:nth-of-type(1) { top: 15%; }
.navbar .buttons span:nth-of-type(2) { top: 45%; }
.navbar .buttons span:nth-of-type(3) { top: 75%; }

#menu { display: none; }/**/

#menu:checked + .buttons span:nth-of-type(1) {
    transform: rotate(45deg) translateY(8px);
}
#menu:checked + .buttons span:nth-of-type(2) {
    opacity: 0;
}
#menu:checked + .buttons span:nth-of-type(3) {
    transform: rotate(-45deg) translateY(-9px);
}
#menu:checked + .buttons span {
    right: -8px;
}

#menu:checked + .buttons + .navbar-nav {
    left: 0;
    display: block;
}

header {
    padding: 16px;
    margin-top: 30px;
    margin-left: 0px;
}

header h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 36px;
    line-height: 42px;
}

header h1 .punto {
    color: #0000EC;
    border-radius: 50%;
}

header p {
    font-family: "IBM Plex Mono", monospace;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    width: 50%;
}

header .movil{
    display: none;
}

header .desktop{
    display: inline;
}

header button {
    color: #060A24;
    background-color: #00F3BB;
    border: 0px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    height: 56px;
    width: 226px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 56px;
    margin-bottom: 5px;
}

header button:hover {
    color: #ffffff;
    background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

.episodios{
    height: 900px;
    position: relative;
    /*overflow: hidden;
    box-sizing: border-box;*/
    z-index: 1;
}

.episodios .diagonal-ep {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 800px;/**/
    margin: 0;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    -webkit-transform: skewY(-6deg);
    transform: skewY(-6deg);
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

.episodios h2 {
    position: relative;
    /*margin-left: 16px;/**/
    margin-left: 200px;
    /*padding-top: 64px;*/
    padding-top: 186px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    /*font-size: 36px;/**/
    font-size: 48px;
    line-height: 42px;
    text-align: left;
    color: #ffffff;
    z-index: 2;
}

.episodios .podcasts {
    box-sizing: border-box;
    position: relative;
    
    /*display: -webkit-box;
    display: -ms-flexbox;/**/
    display: flex;
    /*-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;*/
    flex-direction: row;
    /*-ms-flex-wrap: wrap;/**/
    flex-wrap: wrap;/**/

    margin-top: 21px;
    margin-left: 11px;
    margin-right: 11px;
}

.episodios .podcasts .pod {
    width: 50%;
    height: 152px;
    border: none;
    margin-bottom: 8px;
    box-sizing: border-box;
    margin-bottom: 11px;

    padding-right: 5px;
    padding-left: 5px;
}

.novedades{
    position: relative;
    /*height: 341px;/**/
    overflow: hidden;
    height: 518px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.novedades .contenido {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.novedades .contenido button {
    color: #060A24;
    background-color: #00F3BB;
    border: 0px;
    height: 48px;
    width: 100%;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 22px;
    height: 56px;
    width: 226px;
    font-size: 18px;
    line-height: 24px;
    width: 345px;
    position: relative;
}

.novedades .contenido button:hover {
    color: #ffffff;
    background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

.novedades .contenido h2 {
    position: relative;
    margin-bottom: 36px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
    color: #ffffff;
    text-align: center;
}

.diagonal-nov{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    -webkit-transform: skewY(-6deg);
    transform: skewY(-6deg);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
}

.entrevistas {
    margin-top: 64px;
}

.entrevistas h2 {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 14px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
    color: #060A24;
}


.entrevistas .fotos-contenedor {
    margin-top: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.entrevistas .fotos-contenedor .foto-inv {
    width: 33.3%;
}



.topicos {
    margin-top: 48px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 42px;
}

.topicos h2 {
    font-size: 36px;
    line-height: 42px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    text-align: left;
    color: #060A24;
}

.topicos .topicos-cards {
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.topicos .topicos-cards .icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
    width: 25%;
    margin: 0;
    
}

.topicos .topicos-cards .icon-box .topicos-icon {
    width: 104px;
    padding-bottom: 13px;
    padding-top: 13px;
}

.topicos .topicos-cards .icon-box h4 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #060A24;
    text-align: center;
    margin-top: 16px;
    width: 100%;
}

.nosotros {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /*overflow: visible;/**/
}

.nosotros .venimos-textos {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 27px;
    padding-top: 50px;
    width: 464px;
}

.nosotros .celular {
    /*margin-top: -168px;/**/
    width: 457.6px;
}

.nosotros .venimos-textos h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
    color: #060A24;
    margin-bottom: 8px;
}

.nosotros .venimos-textos p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    color: #000000;
    line-height: 22px;
    padding-bottom: 12px;
}

footer{
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 14px;
}

.footer-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    /*padding-left: 16px;/**/
}

.footer-iconos{
    display: flex;
}

.footer-iconos li {
    margin-left: 16px;
    margin-right: 16px;
}

.footer-iconos a:hover {
    color: #00F3BB;
}

@media screen and (min-width: 1200px){
    .topicos {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media screen and (min-width: 1000px) {
    #menu:checked + .buttons + .navbar-nav {
        display: flex;
    } 

    .navbar .buttons{
        display: none;
    }

    header {
        margin-top: 120px;
        margin-left: 200px;
    }

    header h1 {
        font-size: 64px;
        line-height: 84px;
    }

    .episodios .podcasts .pod {
        margin-bottom: 72px;
    }

    .episodios .podcasts {
        margin-top: 26px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .episodios .podcasts .pod {
        padding-right: 18px;
        padding-left: 18px;
    }

    .entrevistas h2 {
        margin-left: 200px;
        font-size: 48px;
        line-height: 62px;
    }

    .entrevistas .fotos-contenedor {
        margin-top: 36px;
    }

    .topicos {
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 34px;
        margin-top: 64px;
    }

    .topicos h2 {
        font-size: 48px;
        line-height: 62px;
    }

    .nosotros {
        margin-top: 0px;
        overflow: visible;
        align-items: flex-start;
    }

    .nosotros .celular {
        margin-top: -168px;
        width: 457.6px;
    }

    .nosotros .venimos-textos h2 {
        margin-bottom: 24px;
        line-height: 62px;
        font-size: 48px;
    }

    .nosotros .venimos-textos p {
        font-size: 16px;
        line-height: 24px;
    }

    .novedades .contenido h2 {
        font-size: 48px;
    }

}


@media screen and (min-width: 750px) and (max-width: 1000px) {
    #menu:checked + .buttons + .navbar-nav {
        display: flex;
    } 

    .navbar .buttons{
        display: none;
    }

    .episodios h2 {
        font-size: 48px;
        padding-top: 130px;
        line-height: 62px;
        margin-left: 16px;
    }

    header p {
        margin-top: 16px;
        font-size: 14px;
        line-height: 22px;
        width: 100%;
    }

    .episodios {
        height: 630px;
    }

    .episodios .diagonal-ep {
        height: 680px;
    }

    .topicos .topicos-cards .icon-box {
        width: 50%;
        margin: 0;
    }

    .topicos .topicos-cards .icon-box h4 {
        margin-top: 16px;
        width: 220px;
    }

    .nosotros .venimos-textos {
        margin-top: 100px;
    }

    .nosotros .venimos-textos h2 {
        margin-bottom: 24px;
        line-height: 62px;
        font-size: 48px;
    }

    .nosotros .celular {
        width: 350px;
    }
}

@media screen and (max-width: 750px) {
    
    .navbar{
        justify-content: space-between;
        /*padding-left: 16px;
        /*padding-right: 16px;*/
        height: 44px; 
    }

    .navbar li{
        margin-left: 0px;
        padding-left: 16px;/**/
    }

    .navbar-nav {
        display: none;/**/
        background-color: #0000EC;
        flex-direction: column;
        position: absolute;
        /*justify-content: left !important;/**/
        /*right: 0px;/**/
        left: 100%;/**/
        top: 44px;/**/
        width: 98.1%;/**/
        transition: 0.5s all;
        overflow: hidden;
        -webkit-transition: width 0.3s ease-out;
        transition: width 0.3s ease-out;
    }

    header p {
        margin-top: 16px;
        font-size: 14px;
        line-height: 22px;
        width: 100%;
    }

    header .display-block{
        display: block;
    }

    header .movil{
        display: inline;
    }

    header .desktop{
        display: none;
    }

    header button {
        margin-top: 36px;
        margin-bottom: 24px;
        width: 100%;
    }

    .episodios h2 {
        font-size: 36px;
        padding-top: 100px;
        line-height: 42px;
        margin-left: 16px;
    }

    .episodios {
        height: 520px;
    }

    .episodios .diagonal-ep {
        height: 600px;
    }

    .nosotros {
        flex-direction: column;
        align-items: center;
    }

    .nosotros .celular {
        width: 350px;
    }

    .nosotros .venimos-textos {
        padding-top: 0px;
        width: 90%;
    }

    .footer-bar{
        flex-direction: column;
        flex-wrap: wrap; 
        align-items: center;
    }

    .entrevistas .fotos-contenedor .foto-inv {
        width: 50%;
    }

    .topicos .topicos-cards .icon-box {
        width: 50%;
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .episodios .podcasts .pod {
        width: 100%;
        /*height: 152px;
        border: none;*/
        margin-bottom: 8px;
    }

    .episodios {
        height: 900px;
    }

    .entrevistas .fotos-contenedor {
        flex-direction: column;
    }

    .entrevistas .fotos-contenedor .foto-inv {
        width: 100%;
    }

    .topicos .topicos-cards .icon-box {
        width: 100%;
        margin: 0;
    }

    .episodios .diagonal-ep {
        height: 992px;
    }

    .novedades{
        height: 341px;/**/
    }
}